{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    {% if status %}
        <h2> {{ status }} </h2>
        <hr>
    {% endif %}
    <div class="row">
        {% if images %}
        {% for image in images %}
        <div class="card text-white bg-primary mb-3 col-md-3 ">
            <div class="card-img">
                <img src="{{ image.image_url.url }}" alt="{{ image.name }}" width="100%" height="auto" >
            </div>
        </div>
        {% endfor %}

        {% else %}
        <h2> it's lonely here ! no images found .  </h2>
        {% endif %}
    </div>
</div>
{% endblock %}