{% extends 'base.html' %}
{% block content %}
<div class="container">
    {% if status %}
    <hr>
    <h2 class="text-center" > Displaying images related to <strong> {{ status }} </strong>  </h2>
    <hr>
    {% endif %}

    {% if breadcrumb %}
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            {% if breadcrumb == "Category" %}
                <li class="breadcrumb-item">Category</li>
                <li class="breadcrumb-item active"> {{ title }} </li>
            {% elif breadcrumb == "Location" %}
                <li class="breadcrumb-item">Location</li>
                <li class="breadcrumb-item active"> {{ title }} </li>
            {% endif %}
        </ol>
    {% endif %}
    
    <div class="row">
        {% if images %}
        {% for image in images %}
        <div class="col-md-3" data-toggle="modal" data-target="#{{image.id}}">
            <div class="card-img">
                <img src="{{ image.image_url.url }}" alt="{{ image.name }}" width="100%" height="auto">

            </div>
        </div>

        <div class="modal" id="{{ image.id }}">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <img src="{{ image.image_url.url }}" alt="{{ image.name }}" width="100%" height="auto">
                    </div>
                    <div class="modal-body">
                        <hr>
                        <p class="" > <strong>Name  <i class="fa fa-instagram"></i> </strong> {{ image.name }} </p>
                        <p style="font-family: 'Charmonman', cursive;" > <strong> Description <i class="fa fa-ellipsis-h"> </i> </strong> {{ image.description }} </p>
                    </div>
                    <div class="modal-footer">
                        <input id="link" type="text" class="form-control" value="https://imgallery.herokuapp.com{{image.image_url.url}}">

                        <button type="button" class="btn btn-primary" onclick="copylink(this.value)" value="https://imgallery.herokuapp.com{{image.image_url.url}}" >copy link <i class="fa fa-copy"></i></button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal"> <i class="fa fa-close"></i> </button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

        {% else %}
        <h2> it's lonely here ! no images found . </h2>
        {% endif %}
    </div>
</div>
{% endblock %}