{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        {% if images %}
        {% for image in images %}
        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
            <div class="card-header"> {{ image.name }} </div>
            <div class="card-body">
                <img src="{{ image.  }}" alt="">
            </div>
        </div>
        {endfor}

        {% else %}
        <h2> von MUTINDA hasn't uploaded images yet </h2>
        {% endif %}
    </div>
</div>
{% endblock %}