{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        {% if images %}
        {% for image in images %}
        <div class="col-md-3">
            <div class="card-img">
                <img src="{{ image.image_url.url }}" alt="{{ image.name }}" width="100%" height="auto" >
            </div>
        </div>
        {% endfor %}

        {% else %}
        <h2> von MUTINDA hasn't uploaded images yet </h2>
        {% endif %}
    </div>
</div>
{% endblock %}